<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="..\..\App.SECRETS.config">
		<add key="IsDevelopment" value="false" />
		<add key="AppServerNameDevelopment" value="localhost" />
		<add key="AppServerNameProduction" value="Set in App.SECRETS.config" />
		<add key="ShardMapName" value="MenomineeShardMap" />
		<add key="ShardMapManagerDatabaseName" value="TenantManager" />
		<add key="IdentityTenantsServerNameDevelopment" value="localhost" />
		<add key="IdentityTenantsServerNameProduction" value="Set in App.SECRETS.config" />
		<add key="IdentityTenantsDatabaseName" value="JancoIdentity" />
		<add key="UserName" value="Set in App.SECRETS.config" />
		<add key="Password" value="Set in App.SECRETS.config" />
		<add key="UserNameIdentityUsers" value="Set in App.SECRETS.config" />
		<add key="PasswordIdentityUsers" value="Set in App.SECRETS.config" />
		<!--
			The database edition to use when creating databases for this sample in Azure SQL DB.
		-->
		<add key="DatabaseEdition" value="basic" />
		<!--
			The pricing tier, aka performance level, aka SERVICE_OBJECTIVE to use when creating databases in Azure SQL DB,
			or the Elastic Pool Name. Databases created in pool takes the pricing tier of its parent pool
		-->
		<add key="ServiceObjective" value="ELASTIC_POOL ( name = menominee )" />
		<add key="UseElasticPool" value="false" />
		<add key="AzureStorageConnectionString" value="Set in App.SECRETS.config" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>